<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- css base -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- main styles -->
    <link rel="stylesheet" href="/css/bikelab.css">
  </head>
  <body>
    <div class="app"></div>

    <!-- jquery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- react -->
    <script src="http://fb.me/react-0.10.0.js"></script>
    <!-- bundled app -->
    <script src="bikelab.js"></script>
  </body>
</html>
